BINANCE_API_KEY=pIMAQmbwzzVtFfr2oqrldCzb6TFQIupC5wztOlk0y1FbJw3hAbmMhHIgdish1iSa
BINANCE_SECRET_KEY=zjHz3ds2zqOCgatz3zmcKBYaOfUlsPy4RTtLt9GBSSSslMabsMpcFPYnQwba5mat
USE_TESTNET=True
ANALYSIS_ONLY=True
SYMBOLS=BTC/USDT,ETH/USDT
LEVERAGE=3
MAX_RISK_PER_TRADE=0.01
DAILY_LOSS_LIMIT=0.02
POLLING_INTERVAL=60
